<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mega Rocket Gym</title>
    <link
      rel="icon"
      type="image/x-icon"
      href="../../assets/image/logo-rr.ico"
    />
    <link rel="stylesheet" href="../css/reset.css" />
    <link rel="stylesheet" href="../css/common.css" />
    <link rel="stylesheet" href="../css/header.css" />
    <link rel="stylesheet" href="../css/login.css" />
  </head>

  <body>
    <header>
      <a href="./index.html" class="logo">
        <img src="../../assets/image/logo-rr.png" alt="logo" />
        <p>mega rocket s.a</p>
      </a>
      <a href="./sign-up.html" class="btn-header sign-up">
        sing up
        <img
          class="img-btn"
          src="../../assets/image/signup-icon.png"
          alt="signup"
        />
      </a>
    </header>
    <main>
      <div class="form">
        <p>Log in</p>
        <form id="login">
          <label for="email">Email</label>
          <input type="text" name="email" id="email" />
          <span class="massageError" id="errorEmail"></span>
          <label for="password">Password</label>
          <input type="password" name="password" id="password" />
          <span class="massageError" id="messageError"></span>
          <a href="#">Forget your password?</a>
          <button type="submit">Login</button>
        </form>
      </div>
    </main>
  </body>
  <script src="../js/login.js"></script>
</html>
