:root {
    --white: #ffffff;
    --black: #212121;
    --first: #D5DD3C;
    --gray-background:#535353;
    --gray-inputs: #cccccc;
    --gray-header:#323232; 
}
html{
    font-family: 'Roboto', sans-serif;
}
.header {
    background-color: var(--gray-header);
    height: 188px;
}
.logo {
    display: block;
    position: absolute;
    left: 53px;
    top: 15px;
    float: left;
    width: 103px;
    height: 95px;
}
.title {
    display: block;
    position: absolute;
    top: 120px;
    left: 10px;
    width: 390px;
    height: 53px;
    font-weight: bold;
    font-size: 45px;
    text-transform: uppercase;
    color: var(--first);
}
.btn-header {
    float:right;
    position: relative;
    top: 50px;
    width: 158px;
    height: 76px;
    background-color: var(--white);
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: bold;
    border-radius: 5px;
}
.sign-up {
    right: 40px;
}
.login {
    right: 100px;
}
.img-btn {
    position: relative;
    top:18px;
}
.aside {
    position: absolute;
    width: 336px;
    height: 5878px;
    background-color: var(--first);
}
.nav {
    text-align: center;
    margin-top: 100px;
}
.nav-li {
    margin: 30px 0 30px 0;
}
.nav-btn {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--black);
    font-weight: bold;
}
.aside-info {
    position: relative;
    margin-left: 100px;
    top: 5400px;  
}
.aside-info-img{
    position: relative;
    right: 60px;
    top: 30px;
}
.main {
    position: relative;
    margin-left: 336px;
    background-color: var(--gray-background);
    width: 1176px;
    
}
.main-sec {
    position: relative;
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../assets/image/main.jpg);
    background-repeat: no-repeat;
    height: 864px;
    text-align: center;  
}
.main-title {
    position: relative;
    top: 100px;
    right: 110px;
    text-transform: uppercase;
    color: var(--white);
    font-size:80px;
    font-weight: bold;
}
.title-sec {
    position: relative;
    top: 80px;
    right: 70px;
    color: var(--first);
}
.main-info{
    position: relative;
    top: 200px;
    margin-left: 190px;
    width: 890px;
    font-size: 30px;
    line-height: 80px;
    color: var(--white);
}
.sec-features {
    position: relative;
}
.title-features {
    position: relative;
    top: 100px;
    margin-left:450px;
    text-transform: uppercase;
    color: var(--white);
    font-size:80px;
    font-weight: bold;
}
.title-sec-features {
    position: relative;
    top: 60px;
    right: 30px;
    color: var(--first);
}
.img-features {
    width: 450px;
    height: 288px;
    border-radius: 10px;
}
.reservations {
    position: relative;
    float: left;
    left: 100px;
    top: 200px;
}
.schedule {
   position: relative;
   top: 200px;  
}
.schedule p{
    left: 620px;
}
.memberships {
    position: relative;
    float: left;
    left: 100px;
    top: 300px;
}
.suggestion {
    position: relative;
   top: 250px;   
}
.suggestion p{
    left: 620px;
}
.center{
    text-align: center;
}
.title-feture {
    position: relative;
    top: 110px;
    text-transform: uppercase;
    font-size:53px;
    font-weight: bold;
    color: var(--first);
}
.text-features {
    position: absolute;
    bottom: 90px;
    width: 400px;
    font-size: 30px;
    font-weight: bold;
    color: var(--white);
    text-transform:capitalize;
}
.title-contact {
    position: relative;
    top:270px;
    margin-left:400px;
    text-transform: uppercase;
    color: var(--white);
    font-size:80px;
    font-weight: bold;
}
.title-contact-sec {
    position: relative;
    top: 60px;
    right: 30px;
    color: var(--first);
}
.form { 
    position: relative;
    top: 370px;
    margin-left: 40px;
    width: 1100px;
    height: 350px;
    border-radius: 40px;
    background-color: var(--white);
}
.form-label {
    position: relative;
    left: 60px;
    font-size: 20px;
}
.form-input {
    position: relative;
    top: 50px;
    width: 190px;
    height: 35px;
    border-radius: 5px;
    background-color: var(--gray-inputs);
}
.select {
    float: right;
    top: 10px;
    right: 40px;
    height: 40px;
}
.text-label {
    position: relative;
    float: left;
    top: 60px;
    left: 70px;
}
.text-area {
    position: relative;
    top: 50px;
    left: 50px;
    width: 1010px;
    height: 100px;
    border-radius: 30px;
    background-color: var(--gray-inputs);
}
.form-btn{
    position: relative;
    top: 100px;
    right: 500px;
    width: 75px;
    height: 35px;
    background-color: var(--first);  
}
.title-sec-activities {
    position: relative;
    top:390px;
    margin-left:400px;
    text-transform: uppercase;
    color: var(--white);
    font-size:80px;
    font-weight: bold;

}
.sec-title-activities {
    position: relative;
    top: 60px;
    right: 30px;
    color: var(--first);

}
.img-activities {
    position: relative;
    width: 310px;
    height: 190px;
    border-radius: 10px;
    opacity: .5;
}
.crossfit {
    position: relative;
    top: 500px;
    right:200px;
    text-align: center;
}
.box {
    position: relative;
    top: 270px;
    margin-left:490px;
    text-align: center;
}
.functional {
    position: relative;
    top: 290px;
    right:350px;
    text-align: center;
}
.spinning {
    position: relative;
    top: 60px;
    margin-left:40px;
    text-align: center;
}
.fitness {
    position: relative;
    bottom: 165px;
    margin-left:780px;
     text-align: center;
}
.title-activities {
    position: relative;
    top: 90px;
    left: 0px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 35px;
    color: var(--white);
    z-index: 1;
}
.membership {
    text-align: center;
}
.title-member {
     position: relative;
    bottom:100px;
    margin-left:100px;
    text-transform: uppercase;
    color: var(--white);
    font-size:80px;
    font-weight: bold;
}
.sec-title-member {
    position: relative;
    top: 60px;
    right: 30px;
    color: var(--first);
}
.img-member {
    width: 480px;
    height: 570px;
    opacity: 0.5;
}
.second-title-member {
    position: relative;
    top: 250px;
    margin-left: 500px;
    width: 300px;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: bold;
    color: var(--first);
    z-index: 1;
}
.text-member {
    position: relative;
    top: 300px;
    margin-left: 540px;
    width: 200px;
    text-transform: uppercase;
    font-weight: bold;
   line-height: 20px;
    z-index: 1;
    color: var(--white);
}
.btn-member{
    position: relative;
    bottom: 80px;
    left: 290px;
    z-index: 1;
    text-decoration: none;
    color: var(--white);
    text-transform: uppercase;
    font-weight: bold;
}
.title-story{
    position: relative;
    top:70px;
   margin-left:100px;
    text-transform: uppercase;
    color: var(--white);
    font-size:60px;
    font-weight: bold;

}
.titile-story-sec {
    position: relative;
    top: 60px;
    right: 110px;
    color: var(--first);
}
.text-story-article{
    position: relative;
    bottom: 100px;
    left: 340px;
    width: 670px;
    height: 150px;
    margin: 100px;
    background-color: var(--gray-inputs);
    text-align: center;
    border-radius: 10px;
}
.text-story {
    position: relative;
    top: 30px;
    font-size: 20px;
    font-weight: 600;
    color: var(--gray-background);
}
.footer {
    position: relative;
    bottom: 101px;
    height: 150px;
    background-color: var(--gray-header);
}
.img-footer {
    position: absolute;
    margin: 30px;
    width: 70px;
    height: 70px;
}
.btn-footer {
    display: inline-block;
    margin: 0 200px 0 20px;
}
.text-footer {
    position: relative;
    top: 70px;
    left: 50px;
    margin-left: 90px;
    text-decoration: none;
    color: var(--white);
    font-size: 20px;
}
.info-footer {
    position: relative;
    float: right;
    top: 40px;
    color: var(--white);
    text-transform: lowercase;
    text-align: center;
}
.info-footer-sec {
    display: block;
    text-transform: uppercase;
}





