header .btn-header {
  display: block;
  width: 70px;
  height: 40px;
  font-size: 15px;
}
header .img-btn {
  height: 20px;
}
.logo p {
  min-width: 70%;
}
.form-register {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 70%;
  height: 100%;
  background-color: var(--white);
  opacity: 0.9;
  margin: 2rem;
}
.form-register p {
  color: var(--black);
  font-size: 40px;
}
form {
  display: flex;
  flex-direction: column;
}
.first-column,
.second-column {
  display: flex;
  flex-direction: column;
}
form label {
  height: 15px;
}
form input {
  width: 95%;
  height: 2rem;
}
.cont-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}
.cont {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.cont button {
  align-self: center;
  width: 95%;
  margin: 1.5rem;
}
.cont input {
  width: 95%;
}
@media (min-width: 601px) and (max-width: 1024px) {
  header .btn-header {
    width: 100px;
    height: 50px;
  }
  header .img-btn {
    height: 30px;
  }
  .form-register {
    min-width: 70%;
    height: 60%;
  }
  .form-register p {
    font-size: 70px;
  }
  form label {
    height: 10px;
    margin: 5px;
  }
  .cont-form {
    flex-direction: column;
  }
  
}
@media (min-width: 1025px) {
   header .btn-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 16rem;
    height: 76px;
    font-size: 25px;
  }
  header .img-btn {
    height: 50px;
  }
  .form-register {
    min-width: 70%;
    margin: 3rem;
  }
  .form-register p {
    font-size: 80px;
  }
  .first-column,
  .second-column {
    display: flex;
    flex-direction: column;
    width: 50%;
  }
  form input {
    width: 90%;
    height: 3rem;
  }
  .cont-form {
    flex-direction: row;
  }
  .cont {
    flex-direction: column;
  }
  .cont button {
    width: 50%;
  }
 
}
