main {
  display: flex;
  flex-direction: column;
  background-color: var(--gray-background);
  text-align: start;
}
.card {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 5rem;
   width: 35rem;
   height: 25rem;
   border-radius: 3rem;
   background-repeat: no-repeat;
   background-position: center;
   background-size: contain;
   text-align: center;
 }
.nav{ 
   display: none;
}
.btn-nav {
  display: none;
}
.cont-aside-info {
  display: none;
}
.main-sec {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  height: 69rem;
  text-align: center;
  background-image: url(../../assets/image/main-phone.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
h1 {
  color: var(--white);
  text-transform: uppercase;
  font-size: 6rem;
  font-weight: bold;
  margin-top: 5rem;
  padding: 2rem;
}
h1 span {
  color: var(--first);
  margin-left: 12rem;
}
.main-info {
  color: var(--white);
  font-size: 2rem;
  width: 90%;
  line-height: 4rem;
}
.sec-features {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  padding-top: 10rem;
}
.cont-features {
   display: flex;
   flex-direction: column;
   gap: 3rem;
}
.reservation {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(../../assets/image/reservations.png);
}
.schedule {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../assets/image/schedule.jpg);
}
.membership {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(../../assets/image/membership.jpg);
}
.contact-suggestion {
   background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../assets/image/contact.png);
}
.card h3 {
   color: var(--first);
   text-transform: uppercase;
   font-weight: bold;
   font-size: 4rem;
}
.text-features {
  width: 15rem;
  color: var(--white);
  font-size: 1.4rem;
}
.contact {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding-top: 10rem;
}
.title-contact-sec {
   margin-left: 25rem;
}
.form, .cont-input-label {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 90%;
   background-color: var(--white);
   border-radius: 2rem;
}
.form label {
   font-size: 2rem;
   margin: 1.5rem;
}
.form input, select {
   width: 90%;
   height: 3.5rem;
   border-radius: 5px;
   background-color: var(--gray-inputs);
}
.form textarea {
   width: 90%;
   height: 10rem;
   border-radius: 1rem;
   background-color: var(--gray-inputs);
   text-align:start;
}
.form button {
   margin: 1rem;
   width: 7.5rem;
   height: 3.5rem;
   background-color: var(--first);
   border-radius: 5px; 
}
.activities {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 2rem;
   padding-top:10rem;
}
.cont-activities {
   display: flex;
   flex-direction: column;
   gap: 3rem;
}
.activities article h3 {
   color: var(--white);
}
.crossfit {
     background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../assets/image/crossfit.jpg);
}
.box {
     background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(../../assets/image/box.png);
}
.functional {
     background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../assets/image/functional.jpg);
}
.spinning {
     background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(../../assets/image/spinning.png);
}
.fitness {
     background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../assets/image/fitness.jpg);
}
.sec-membership {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 2rem;
   padding: 10rem 0 10rem 0;
}
.card-membership {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap:3.5rem;
   width: 35rem;
   height: 40rem;
   border-radius: 3rem;
   text-align: center;
}
.card-membership h3 {
   font-size: 3rem;
   font-weight: bold;
   text-transform: uppercase;
   color: var(--first);
   margin-top: 2.5rem;
}
.card-membership p {
   width: 80%;
   font-size: 2rem;
   color: var(--white);
   margin-top: 2rem;
   text-transform: uppercase;
}
.card-membership a {
   text-decoration: none;
   color: var(--white);
   font-size: 2rem;
}
.membership-only {
   background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(../../assets/image/onlyclasses.png);
}
.membership-classic {
   background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(../../assets/image/classic-membership.png);
}
.membership-black {
   background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../assets/image/black-memebership.png);
}
.story {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 10rem 0 20rem 0;
}
.text-story-article {
   width: 90%;
   height:16rem ;
   background-color: var(--gray-inputs);
   border-radius: 1rem;
   text-align: center;
}
.text-story-article p {
   font-size: 1.4rem;
   line-height: 2rem;
   margin: 2rem;
}
@media (min-width: 601px) and (max-width: 1024px) {
   .main-sec {
      height: 115rem;
      gap: 7rem;
    }
   .card {
      gap: 5rem;
      width: 71rem;
      height: 46rem;
    }
   h1 {
      text-align: start;
      font-size: 10rem;
    }
    h1 span {
      margin-left: 25rem;
    }
    .main-info {
      font-size: 3.5rem;
      width: 80%;
      line-height: 8rem;
    }
    .card h3 {
       font-size: 7rem;
    }
    .text-features {
      width: 50rem;
      font-size: 4.5rem;
    }
   .title-contact-sec {
      margin-left: 40rem;
   }
   .form {
      flex-direction: column;
      align-items: center;
   }
   .cont-form {
      display: flex;
      flex-wrap: wrap;
   }
   .cont-input-label {
     width: 50%;
   }
   
   .form textarea {
      margin-left: 1.5rem;
      width: 95%;
   }
   .form button {
      width: 15rem;
   }
   .card-membership {
      width: 70rem;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
   }
   .card-membership h3 {
      font-size: 4rem;
   }
}
@media  (min-width: 1025px) {
   main {
      flex-direction: row;
   }
   aside {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 30%;
      background-color: var(--first);
   }
   .nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: bold;
   }
   .nav-li{
      margin: 4rem;
   }
   .nav-li a {
      text-decoration: none;
      color: var(--black);
   }
   .cont-aside-info {
      display: flex;
      flex-direction: column;
      margin-top: 20rem;
      gap: 3rem;
      font-size: 3rem;
      font-weight: bold;
   }
   .cont-ubi {
      display: flex;
      flex-direction: row;
      align-items: center;
   }
   .cont-number {
      display: flex;
      flex-direction: row;
      align-items: center;
   }
   .cont-main {
      display: flex;
      flex-direction: column;
      align-self: end;
      width: 70%;
   }
   .card {
      gap: 5rem;
      width: 45rem;
      height: 28rem;
    }
   .main-sec {
     gap: 4rem;
     height: 86rem;
     background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../assets/image/main.jpg);
   }
   h1 { 
      width: 90%;
      margin-right: 30rem;
      font-size: 10rem;
   }
   h1 span {
     margin-left: 55rem;
   }
   .main-info {
     font-size: 3rem;
     line-height: 8rem;
   }
   .cont-features {
      display: flex;
      justify-content: center;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 4rem;
   }
   .card h3 {
      font-size: 5.8rem;
   }
   .text-features {
     width: 35rem;
     font-size: 3rem;
   }
   .title-contact-sec {
      margin-left:30rem;
   }
   .cont-form {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      width: 90%;
   }
   .cont-input-label {  
      width:28rem;
   }
   .form button {
      margin: 3rem;
      width: 15rem;
      height: 3.5rem;
   }
   .cont-activities {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      gap: 4rem;
   }
   .cont-activities article {
      width: 30rem;
   }
   .crossfit {
      margin-left: 6rem;
   }
   .box {
      margin-right: 6rem;
   }
   .activities article h3 {
      font-size: 4rem;
   }
   .card-membership {
      width: 48rem;
      height: 57rem;
   }
   .card-membership h3 {
      font-size: 4rem;
   }
   .card-membership p {
      width: 80%;
      font-size: 2.4rem;
   }
   .card-membership a {
      font-size: 2.4rem;
   }
   .story {
      flex-direction: row;
      justify-content: space-around;
   }
   .text-story-article {
      width: 50%;
      height:16rem ;
      background-color: var(--gray-inputs);
      border-radius: 1rem;
      text-align: center;
   }  
}







