.form-register {
  min-width: 70%;
  height: 90%;
  background-color: var(--white);
  opacity: 0.9;
}
.form-register p {
  color: var(--black);
  font-size: 80px;
}
form {
  display: flex;
  flex-direction: row;
  gap: 10rem;
}
.first-column,
.second-column,
.third-column {
  display: flex;
  flex-direction: column;
}
.go-back {
  text-align: center;
}

form label {
  height: 15px;
}
form input {
  width: 20rem;
  height: 3rem;
}
